.py-line {
  @apply text-f200;
  line-height: 2.5em;
  text-indent: 3em;

  &:not(:last-child) {
    @apply mb-8;
  }

  .py-chinese-item {
    @apply px-1.5;
  }

  b {
    @apply relative cursor-pointer transition-colors hover:text-destructive;

    /* &::after {
      content: "";
      text-indent: 0;

      @apply absolute bottom-0 left-1/2 h-[1px] w-11/12 bg-neutral-900;
      transform: translateX(-50%);
    }

    &::before {
      content: "";
      text-indent: 0;

      @apply absolute bottom-0.5 left-1/2 h-[1px] w-11/12 bg-neutral-900;
      transform: translateX(-50%);
    } */
  }

  rt {
    @apply font-serif text-[60%] !font-normal text-muted-foreground;
  }
}

.py-line.no-py {
  @apply text-f200;
  line-height: 1.75em;
  text-indent: 2em;
}
