BETTER_AUTH_SECRET=xx
DATABASE_URL="postgresql://meetqy:123456@localhost:5432/zcoloring-v2"

# init admin user email and password
# run pnpm seed
ADMIN_EMAIL=meetqy@icloud.com

# Github webhook secret
GITHUB_WEBHOOK_SECRET=your_webhook_secret_here
GITHUB_TOKEN=your_github_token_here

# Google Analytics Measurement ID
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID=''