.underline-animation {
  @apply relative bg-gradient-to-r from-base-100 to-base-content bg-no-repeat pb-0.5;
  background-position: bottom left;
  background-size: 0% 2px;
  transition:
    background-size 300ms ease-out,
    background-position 0s 300ms;

  &:hover {
    background-position: bottom right;
    background-size: 100% 2px;
  }
}
