.gContainer {
  height: 2000px;
  transform: translate(-50%, 0);
  @apply absolute left-1/2 top-0 w-full;
}

.fly {
  clip-path: polygon(0 0, 100% 50%, 0 100%);
  offset-path: path("M 464 40 C 1000 1000, -464 1000, 464 1960");
  animation: flyMove 4s linear;
  animation-timeline: scroll(root);
  @apply absolute h-10 w-10 bg-gradient-to-tr from-primary  to-secondary;
}

.line {
  position: absolute;
  top: 0;
  left: 50%;
  height: 2000px;
  transform: translate(-50%, 0);
  @apply w-full;

  .path {
    stroke: oklch(var(--b3));
    stroke-width: 2px;
    stroke-dasharray: 2108, 2108;
    animation: lineMove 4s linear;
    animation-timeline: scroll(root);
  }
}

.point {
  @apply absolute h-5 w-5 rounded-full;
  animation: pointShow 200ms linear forwards;
  animation-timeline: scroll(root);

  &::before,
  &::after {
    content: "";
    @apply absolute inset-0 -z-10 rounded-full;
    animation: pointScale 2s infinite ease-in-out;
  }

  &::after {
    animation-delay: -0.5s;
  }

  &.point1 {
    top: 500px;
    left: 572px;
    animation-range: 50px 300px !important;
    @apply bg-error;

    &::before,
    &::after {
      @apply bg-error/10;
    }
  }
}

.author {
  position: absolute;
  @apply opacity-0;
  animation: authorShow 1s linear forwards;
  animation-timeline: scroll(root);

  &.author1 {
    --x: 500px;
    top: 490px;
    left: 620px;
    animation-range: 150px 350px !important;
    @apply block;
  }
}

.intro {
  @apply absolute opacity-0;
  animation: introShow 1s linear forwards;
  animation-timeline: scroll(root);

  &.intro1 {
    --x: 500px;
    top: 562px;
    left: 600px;
    animation-range: 220px 350px !important;
    @apply block;
  }
}

.content {
  @apply absolute inline-block h-52 rounded-box border-2 border-dashed border-transparent p-2 text-2xl opacity-0;
  writing-mode: vertical-rl;
  animation: contentShow 1s linear forwards;
  animation-timeline: scroll(root);

  &.content1 {
    --x: -500px;
    top: 422px;
    right: 380px;
    animation-range: 125px 350px !important;
  }
}

@keyframes contentShow {
  0% {
    transform: translate(var(--x), 0) rotate(372deg);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) rotate(372deg);
    @apply border-inherit opacity-100;
  }
}

@keyframes introShow {
  0% {
    transform: translate(var(--x), 0) rotate(372deg);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) rotate(372deg);
    @apply text-lg opacity-100;
  }
}

@keyframes authorShow {
  0% {
    transform: translate(var(--x), 0);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) rotate(372deg);
    @apply text-4xl opacity-100;
  }
}

@keyframes lineMove {
  0% {
    stroke-dashoffset: 2108;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes flyMove {
  0% {
    offset-distance: 0%;
  }
  50% {
    transform: scale(2.5);
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes pointScale {
  80%,
  100% {
    transform: scale(5);
    opacity: 0.1;
  }
}

@keyframes pointShow {
  0% {
    @apply bg-error/50;
  }
  25% {
    @apply bg-error;
  }
  80% {
    transform: scale(5);
    @apply bg-error;
  }
}
