@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
   数字、字母 font-mono
   拼音 font-pinyin
   符号 font-serif
   中文 font-cursive
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer utilities {
  .header {
    @apply sticky top-0 z-50 w-full border-b border-border bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60;
  }

  .scroll-area {
    @apply relative h-[calc(100vh-2rem)];
  }

  .underline-animation {
    @apply relative bg-gradient-to-r from-primary to-primary-foreground bg-no-repeat pb-0.5;
    background-position: bottom left;
    background-size: 0% 2px;
    transition:
      background-size 300ms ease-out,
      background-position 0s 300ms;

    &:hover {
      background-position: bottom right;
      background-size: 100% 2px;
    }
  }

  .text-outline {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: hsl(var(--foreground));
    color: transparent;
  }

  [prose-h1] {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
  }

  [prose-h2] {
    @apply scroll-m-20 border-b border-border pb-2 text-3xl font-semibold tracking-tight first:mt-0;
  }

  [prose-h3] {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
  }

  [prose-p] {
    @apply leading-7 [&:not(:first-child)]:mt-6;
  }

  [prose-blockquote] {
    @apply mt-6 border-l-2 border-border pl-6 italic;
  }

  [prose-small] {
    @apply text-sm font-medium leading-none;
  }

  [prose-muted] {
    @apply text-sm text-muted-foreground;
  }
}

.loader {
  display: inline-block;
  position: relative;
  border: 2px solid;
  @apply h-24 w-24 rounded-full border-primary/70;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;

  &::after {
    content: " ";
    @apply absolute left-2.5 top-2.5 h-8 w-8 rounded-full bg-primary;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

[role="dialog"] {
  @apply top-[40%];
}
