@tailwind base;
@tailwind components;
@tailwind utilities;

textarea,
select {
  @apply !text-base;
}

@layer utilities {
  .text-stroke-base-100 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: oklch(var(--bc));
    color: transparent;
  }

  .text-stroke-neutral-content {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: oklch(var(--nc));
    color: transparent;
  }
}
