.logo {
  @apply btn btn-outline relative h-20 w-full overflow-hidden border-none text-center font-serif text-5xl font-bold duration-300;

  &::before,
  &::after {
    content: "";
    transform: translate(-75%, -45%) rotate(0);
    position: absolute;
    @apply -top-40 left-48 h-96 w-96 bg-gradient-to-bl from-success/80 to-error/80;
    border-radius: 40% 41% 42% 43%;
    animation: rotate 8s infinite linear alternate;
    mix-blend-mode: lighten;

    /* media dark mix-blend-mode 
     * https://developer.mozilla.org/en-US/docs/Web/CSS/mix-blend-mode
     */
    @media (prefers-color-scheme: dark) {
      mix-blend-mode: darken;
    }
  }

  &::after {
    border-radius: 43% 42% 41% 40%;
    @apply bg-gradient-to-br from-success/40 to-error/40;
    animation: rotate 8s infinite 4s linear alternate-reverse;
  }
}

@keyframes rotate {
  0% {
    transform: translate(-60%, -45%) rotate(0);
  }
  100% {
    transform: translate(-75%, -55%) rotate(90deg);
  }
}
