.title {
  @apply absolute left-0 top-0 h-full max-h-screen w-full;
  animation: zIndex 0.5s linear forwards;
  animation-delay: 0.5s;

  h1 {
    @apply absolute w-full pt-20 text-center opacity-0;
    animation: slideToTitle 0.5s ease-in-out;
  }
}

.title2 {
  animation: show 0.5s ease-out forwards;
}

@keyframes zIndex {
  100% {
    @apply -z-50;
  }
}

@keyframes show {
  0% {
    @apply opacity-0;
  }
  80% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}

@keyframes slideToTitle {
  0% {
    @apply top-1/2 -mt-24 text-9xl opacity-100;
  }
  100% {
    @apply top-8 opacity-0;
  }
}
