.card {
  @apply relative flex aspect-square cursor-pointer items-end overflow-hidden rounded-box shadow transition-transform hover:border hover:shadow-xl;

  &:hover {
    .title {
      font-size: 210px;
      line-height: 0.95;
      @apply opacity-80 dark:bg-base-content;

      text-shadow:
        1px 1px 1px oklch(var(--b1)),
        1px 2px 1px oklch(var(--b1)),
        1px 3px 1px oklch(var(--b1)),
        1px 4px 1px oklch(var(--b1)),
        1px 5px 1px oklch(var(--b1)),
        1px 6px 1px oklch(var(--b1)),
        1px 7px 1px oklch(var(--b1)),
        1px 8px 1px oklch(var(--b1)),
        1px 9px 1px oklch(var(--b1)),
        1px 10px 1px oklch(var(--b1)),
        1px 18px 6px rgba(16, 16, 16, 0.3),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.3);
    }
  }
}

.title {
  font-size: 160px;
  line-height: 1;
  @apply absolute h-full w-full whitespace-nowrap text-center tracking-widest transition-all;
}
